.tdl-item {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 1rem 0.5rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}

.tdl-item:last-child {
  margin-bottom: 0rem;
}

.tdl-item > span {
  display: block;
}

.tdl-item > .date {
  display: block;
  float: right;
}
