.App-header {
  background-color: orange;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow-x: scroll;
  width: calc(100vw + 1rem);
}

.App-header::after{
  content: "";
}
