.message-box {
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 1.2rem;
  font-weight: bold;
  word-break: break-word;
}

.message-box > p {
  margin: 0;
  padding: 0;
  display: inline-block;
}

span.close {
  cursor: pointer;
  display: inline-block;
  position: absolute;
  right: 15px;
}

.success {
  background-color: green;
}
.error {
  background-color: red;
}
